<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/css/reset.css">
        <link rel="stylesheet" href="/public/css/register_login.css">
        <title>美食天下-妙味版</title>
    </head>
    <body>
        <div class="box_bg">
            <div class="box">
                <div class="header">
                    <a class="active" href="javascript:;">注册</a>
                    <a href="/user/login">登录</a>
                </div>
                <div class="body">
                    <div class="con">
                        <form action="/user/register" method="POST">
                            <input type="text" placeholder="手机号/昵称：" name="username" />
                            <input type="password" placeholder="密 码：" name="password" />
                            <input type="password" placeholder="再次输入密码：" name="repassword" />
                            <button type="submit">确认注册</button>
                        </form>
                        <p class="message" style="text-align: center"></p>
                    </div>
                </div>
            </div>
        </div>
        <script type='text/javascript' src='/public/js/jquery.min.js'></script>
        <script type='text/javascript' src='/public/js/register.js'></script>
    </body>
</html>
